*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading pre{
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.797);
}

.heading h1{
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 0px;
    row-gap: 20px;
    place-items: center;
}

.item{
    background: white;
    padding: 100px;
    /* border-radius: 10px; */
    /* text-align: center; */
}