*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color:#f3f2f2;
    padding: 1rem;
}

.header_container{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    margin: 0 auto;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    
    
}

.image_icon{
    width: 37px;
    /* height: 26px; */
    padding-top: 1px;

}

.image_content{
    display: flex;
    gap: 0.2rem;
    transition: all 0.3s ease-in-out 0.1ms;
}

.image_content:hover{
    /* transform: scale(1.05); */
    /* border: black; */
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgb(87, 87, 191);
    background-color: rgb(231, 231, 236);
}

.image_text{
    font-size: 2rem;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 40, 40);
}

.image_text:hover{
    color: rgb(0, 0, 0);
    /* color:rgb(90, 87, 191); */
}

.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.contents{
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(119, 116, 119);
    transition: all 0.1s;
}

.contents:hover{
    color: black;
}

.contact_container{
    font-size: 20px;
    border: none;
    border-radius: 2rem;
    background-color: rgb(59, 92, 198);
    color: rgb(254, 254, 255);
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s ease-in 0s;
}

.contact_container:hover{
    transform: scale(1.1);
    background-color: rgb(64, 99, 240);

}

.content-section{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5rem;
    margin: 0 auto;

}


.left-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 8rem;
    margin-left: 9rem;
    
}

.content_intro{
    font-weight: bold;
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
    color: rgb(81, 81, 224);
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: typing 4s steps(100) infinite ;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.content_heading{
    font-size: 3.2rem;
    max-width: 590px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.content_para{
    max-width: 500px;
    color: rgb(119, 114, 114);
    font-weight: 100;
    margin-top: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.content-buttons{
    font-size: 20px;
    display: flex;
    gap: 2rem;
    margin-top: 2.4rem;
    font-weight: bold;
    color: rgb(254, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: start;
}

.start_button{
    color: rgb(254, 254, 255);
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: rgb(59, 92, 198);
    transition: all 0.2s ease-in 0s;
    
}

.start_button:hover{
    transform: scale(1.1);
    
}

.take_button{
    color: rgb(254, 254, 255);
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: rgb(53, 53, 55);
    transition: all 0.2s ease-in 0s;

}

.take_button:hover{
    transform: scale(1.1);

}

.right-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_anime{
    width: 430px;
    margin-top: 8rem;
    margin-right: 8rem;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center; 
    border: none;
    border-radius: 1.2rem;
    transition: all 0.2s ease-in 0ms;
    animation: float 1.5s ease-in-out infinite;
}

@keyframes  float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    
}

.image_anime:hover{
    transform: scale(1.03);
    box-shadow: 0px 10px 60px rgb(8, 8, 82);

}

.qucik-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quick_link_p{
    font-size: 2rem;
    margin-top: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.link_section{
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: solid; */
    border-radius: 1rem;
    background-color:rgb(234, 229, 229);
    padding: 1rem 2rem;
    transition: all 0.2s ease-in 0s;
}

.link_section:hover{
    transform: scale(1.02);
    box-shadow: 0px 10px 30px rgb(87, 87, 191);

}

.img_link{
    width: 20px;    
}

.q_links{
    font-size: 1.1rem;
    color: rgb(74, 79, 83);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.q_links:hover{
    color: rgb(88, 88, 226);
}

.card-section{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    /* background-color:#fffbfb; */

}

.card-content{
    width: 800px;
    height: 100vh;
    margin: 0 auto;
}


.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
}

.card-intro{
    margin-top: 3rem;
    font-size: 2.2rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    /* background-color: aquamarine; */
    padding: 0.6rem 1rem;
    transition: all 0.2s ease-in 0ms;
}

.card-intro:hover{
    transform: scale(1.02);
    background-color:rgb(234, 229, 229);
    box-shadow: 0px 10px 30px rgb(91, 165, 214);
    margin-bottom: 2rem;
}


.card-para{
    font-size: 1.1rem;
    color: rgb(103, 98, 98);
    margin-bottom: 3rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(192, 89, 89);
    padding: 2rem 4rem;
    transition: all 0.2s ease-in 0ms;
}

.card-container:hover{
    transform: scale(1.03);

}

.card-container:nth-child(5){
    margin-bottom: 2rem;
}

.card-container:nth-child(6){
    margin-bottom: 2rem;
}

.card-container:nth-child(2){
    background-color: rgb(234, 87, 129);
}
.card-container:nth-child(3){
    background-color: rgb(42, 130, 101);
}
.card-container:nth-child(4){
    background-color: rgb(87, 112, 234);
}
.card-container:nth-child(5){
    background-color: rgb(34, 168, 201);
}
.card-container:nth-child(6){
    background-color: rgb(234, 87, 87);
}

.cards-image{
    width: 50px;
    border: none;
    padding: 8px;
    border-radius: 50%;
    background-color: #f3f2f2;
}

.cards-content{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.cards-heading{
    color: #f3f2f2;
    font-size: 1.3rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.cards-para{
    font-size: 1rem;
    color: #f3f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}