*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color:#f3f2f2;
    padding: 0.7rem;
}

.header_container{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    
    
}

.image_icon{
    width: 37px;
    /* height: 26px; */
    padding-top: 1px;

}

.image_content{
    display: flex;
    gap: 0.7rem;
    transition: all 0.3s ease-in-out 0.1ms;
}

.image_content:hover{
    /* transform: scale(1.05); */
    /* border: black; */
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgb(87, 87, 191);
    background-color: rgb(231, 231, 236);
}

.image_text{
    font-size: 2rem;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 40, 40);
}

.image_text:hover{
    color: rgb(0, 0, 0);
}

.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.contents{
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(119, 116, 119);
    transition: all 0.1s;
}

.contents:hover{
    color: black;
}

.contact_container{
    font-size: 20px;
    border: none;
    border-radius: 2rem;
    background-color: rgb(59, 92, 198);
    color: rgb(254, 254, 255);
    padding: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s ease-in 0s;
}

.contact_container:hover{
    transform: scale(1.1);
    background-color: rgb(64, 99, 240);

}