 .container{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 200px;
    height: 100px;
    border: 3px solid black ;
    background-color: chartreuse;
    transition-duration: 10s;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 0s;

}
.box:hover{
    transform: scale(10);

}