*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(
    135deg,
    #0f0c29,
    #302b63,
    #24243e
  )
}

.container{
    width: 80vw;
    height: 100vh;
    /* padding: 2rem 1rem; */
    margin: 0 auto;
    margin-bottom: 230px;
}

.header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_container h3{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(215, 60, 140);
    transition: all 0.2s ease-in 0ms;
    padding: 20px;
    border-radius: 100px;

}

.header_container p{
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 211, 211);
    max-width: 800px;
    margin-bottom: 20px;
    border-radius: 200px;
    padding: 10px ;
    transition: all 0.3s ease-in 0ms;
}

.header_container p:hover{
    box-shadow: 0px 10px 30px rgb(202, 19, 218);
    transform: scale(1.1);

}

.header_container h3:hover{
    transform: scale(1.1);
    /* background-color: rgb(160, 107, 147); */
    box-shadow: 0px 10px 40px rgb(179, 75, 205);

    
}

.main_container{
    display: grid;    
    grid-template-columns: repeat(4,1fr); 
    height: 600px;
    gap: 40px 70px;
    width: 100%;

}

.card_container{
    /* width: 66vw; */
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: solid; */
    border-radius: 15px;
    height: 360px;
    box-shadow: 0px 0px 10px rgba(9, 9, 9, 0.964);
    transition: all 0.3s ease-in 0ms;
}
.card_container:hover{
    transform: scale(1.1);
    box-shadow: 0px  10px 60px rgb(214, 34, 187);

}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 9.8rem;

}


.image{
    object-fit: cover;
    object-position: center;
    position:absolute;
    height: 100%;
    width: 100%;
    /* width: 100%; */
}

a{
    text-decoration: none;
    color: rgb(239, 239, 76);
}


.card_heading{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card_desc{
    text-align: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(85, 83, 80);
    transition: all 0.3s ease-in 0ms;

}

.card_desc:hover{
    color: aliceblue;
}

.author_pic{
    width:50px;
}

.logo{
    width: 100%;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 5px;
}

.author{
    display: flex;
}

.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.author_name{
    margin-left: 20px;
    margin-top: 27px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(85, 177, 226);
    font-weight: bold;  

}

.author_date{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(93, 86, 86);
}

.card_tag{
    font-size: 0.79rem;
    border:  solid;
    border-radius: 8px;
    line-height: 1.3rem;
    padding: 5px;
    color: rgb(205, 188, 235);
    margin-right:30px;
    margin-left: 20px;
    box-shadow: 0px 5px 20px rgb(187, 35, 238);
    
}
.tag{

    transition: all 0.3s ease-in 0ms;
}
.tag:hover{
    transform: scale(1.2);

}